# For Loops
- While loops get executed as long as the _while condition_ evaluates to ```True```
- To execute a block of code a certain number of times, we use ```for``` loops
- A for statement looks something like - <br>
  ```for i in range(4):```
  It always includes the following - 
  - The ```for``` keyword
  - A variable name
  - The ```in``` keyword
  - A call to ```range``` method with upto 3 integers passed to it
  - A colon
  - Indented block of code starting on the next line - the body of for loop (_for clause_)

In [ ]:
# A simple example for counting
print('Counting from 0 to 4')
for i in range(5): # we go up to but not including 5, by default counting starts from 0
  print('Number {}'.format(str(i)))

## the variable i gets updated in each iteration

Counting from 0 to 4
Number 0
Number 1
Number 2
Number 3
Number 4

- The first time the loop is run, the variable ```i``` is set to ```0```
- The variable ```i``` goes up to but not including the number passed to ```range```

#### flowchart
<img src="https://drive.google.com/uc?id=1VzW2O4sK4klD5S44YgJ7VLSgUZbhx-KY" alt="Drawing" style="width: 200px;"/>

In [ ]:
# Another example, sum of numbers from 1 to 10 including 10
total = 0 ## initialize total to 0
for num in range(11):
  total = total + num
print('The sum of numbers from 1 to 10 is {}'.format(total))

The sum of numbers from 1 to 10 is 55

### An equivalent while loop

In [ ]:
## This same program can also be written using a while loop
total = 0
num = 1
while(num<=10):
  total = total + num
  num = num + 1
print('Sum of numbers from 1 to 10 is {}'.format(total))

Sum of numbers from 1 to 10 is 55

### Arguments to range - starting, stopping and stepping
- Some functions can accept multiple arguments. ```range``` is one of them.
- This allows you to start counting from a number other than ```0```

When you pass 2 arguments - 
- The first argument will be the number where to start
- The second argument is the number up to but not including which ```range``` will count

In [ ]:
## Eg., add numbers from 10 to 15 including both 10 and 15
total = 0
for num in range(10, 16):
  total = total + num # num will take values 10, 11, 12, 13, 14, 15
print(total)

75

When you pass 3 arguments - 
- The first argument is the number where ```range``` starts
- The second argument is the number up to but not including which ```range``` will count
- The third argument is the step argument - the amount by which variable is increased after each iteration

In [ ]:
## Add even numbers between 10 and 19
total = 0 # initialize total variable which will hold the sum to 0
for num in range(10, 20, 2):
  total = total + num ## num will take the values 10, 12, 14, 16, 18
print(total)

70

In [ ]:
## Add multiples of 3 between 1 to 100
total = 0
for num in range(3, 101, 3):
  total = total + num
print(total)

1683

### Negative parameters to ```range```

In [ ]:
## Count numbers down from 5 to 1
for i in range(5, -1, -1): # step size is -1 here because in each iteration i is 1 less than previous
  print('Number {}'.format(i)) # in each iteration i = i - 1

Number 5
Number 4
Number 3
Number 2
Number 1
Number 0

In [ ]:
for i in range(5, -1, -2): ## count down but in steps of 2
  print('Number {}'.format(i))

Number 5
Number 3
Number 1